body {
	font-family: "Open Sans" ,sans-serif;
	background-color: #020d25;
}

.main {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	width: fixed;
	background: rgba(70, 162, 236, 0.253);
	padding: 25px;
	border-radius: 15px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0.19);
}

.main h2 {
	text-align: center;
	color: white;
	text-transform: uppercase;
}

.button {
	width: 60px;
	height: 60px;
	font-size: 25px;
	margin: 3.8px;
	cursor: pointer;
	border: none;
	background: #607d8b;
	color: white;
	border-radius: 25px;
	position: relative;
	
}

.btn {
	background:rgb(28, 135, 161);
	color:#e5eeed;
}

.textarea {
	width: 260px;
	margin: 4px;
	font-size: 20px;
	padding: 10px;
	border: none;
	color: #607d8b;
	border-radius: 25px;
	text-align: right;
}

.button:hover {
	background-color: rgba(168, 201, 231, 0.9);
}
